* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Overpass:wght@600&family=Play&display=swap");

$font: "Play";

$color-primary: #0ff1ce;
$color-secondary: #ff21a3;
$color-tertiary: rgba(171, 33, 158, 1);
