@use "./base" as *;

.calGrid {
  button {
    cursor: pointer;
    font-size: 2rem;
    border-color: hotpink;
    background-color: $color-primary;
    color: whitesmoke;
    font-family: $font;
    border-radius: 5%;
  }

  button:hover {
    background-color: yellow;
  }
}
