@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&family=Roboto:wght@100&display=swap");
* *::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calGrid button {
  cursor: pointer;
  font-size: 2rem;
  border-color: hotpink;
  background-color: #0ff1ce;
  color: whitesmoke;
  font: "Orbitrion", "Roboto";
  border-radius: 5%;
}
.calGrid button:hover {
  background-color: yellow;
}