@use "./base" as *;

h1 {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  font-family: $font;
  color: $color-primary;
}

.calGrid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);

  .span-2 {
    grid-column: span 2;
  }

  &-output {
    grid-column: 1 / -1;
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    flex-direction: column;
    background-color: honeydew;
    height: 100%;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: hotpink solid 2px;
    border-radius: 5%;

    &__previous {
      font-size: 1.5rem;
      font-family: $font;
    }

    &__current {
      font-family: $font;
      font-size: 2.5rem;
    }
  }
}
