@use "./base" as *;

html {
  font-family: $font;
}
section {
  background: rgb(21, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(21, 0, 36, 1) 0%,
    rgba(171, 33, 158, 1) 35%,
    rgba(0, 255, 248, 1) 100%
  );
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  max-width: 400px;
  background-color: $color-primary;
  border-radius: 8px;
  overflow: hidden;
}

.temp-result {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
  // opacity: 0.3;
}
