@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Overpass:wght@600&family=Play&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.display {
  background-color: #b6b6b6;
  height: 100px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  position: relative;
}

.display-1 {
  opacity: 0.4;
  font-size: 20px;
  height: 20px;
  overflow: hidden;
}

.all_button {
  color: #ff21a3;
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(4, 1fr);
}

.button {
  border: 0.5px #ab219e solid;
  display: inline-block;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  border-radius: 2%;
}

.button:hover {
  background-color: #1e2b2e;
}

.btn-0 {
  grid-column: 1/3;
}

html {
  font-family: "Play";
}

section {
  background: #150024;
  background: linear-gradient(90deg, #150024 0%, #ab219e 35%, #00fff8 100%);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 400px;
  background-color: #0ff1ce;
  border-radius: 8px;
  overflow: hidden;
}

.temp-result {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
}